html {
  margin: 0;
  paddin-right:0;
}

label {
  margin-top: 5px;
  font-size: 1.5em;
  font-weight: bold;
}

//makes font in list with general practitioners bigger
.dropdown-menu>li>a {
  font-size: 1.5em;
}

.form-control {
  height:38px;
}

body {
  margin: 0;
}

.btn {
  font-size: 1.5em;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container {
  max-width: 800px;
}

.info-label {
  font-size: 9pt;
  float: right;
  margin-right:15px;
}

input[type=text], input[type=numeric], input[type=radio], textarea, select, .form-control{
  font-size: 1.5em;
}

.footer-wrapper {
  margin-top: 20px;
  border-top: 0.5px solid #e6e6e6;
}

.footer-text{
  font-size: 12px;
  margin-top:10px;
}

.form-header {
  font-size: 30px;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .footer {
    display: none;
  }

  .form-header {
    font-size: 20px;

  }

  .button-search {

  }

}

.button-label {
  font-weight: normal;
  margin-left: 0;
}

.check-button-label {
  font-weight: normal;
  margin-left: 7px;
}

.adressLabel{
  margin-top: 0;
}

  @media (min-width: 768px) {
    label {
      margin-top: 5px;
      font-size: 1.5em;
      font-weight: normal;
    }

    .nav-header {
      margin-left: 10px;
    }

    .application-wrapper {
      margin-top: 40px;
    }

    .footer {
      margin-top: 50px;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 30px;
    }
  }

  .dependent-wrapper { /* Wraps all the dependent-forms in AddDependent */
    width: 700px;
    background: #ececec;
    border-radius: 10px;
    margin-bottom: 20px;
  }


  /* Start DependentForm style */
.close-button { /* X button to delete a dependent */
  float: right;
}

.close-button-row{
  margin-top: -5px;
  margin-right: 1px;
  font-size: 10pt;
  font-weight: bold;
  padding-bottom: 7px;
}

  .form-style-10 .inner-wrap {
    padding: 30px;
    background: white;
    border-radius: 6px;
    margin-bottom: 5px;
  }

  .depedent-form-wrapper {
    background-color: #F8F8F8;
    border: 1px white;
    border-radius: 4px;
    padding: 7px;
  }

  .addDepButton {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /* End DependentForm style */
  .form-center {
    text-align: center;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0;
  }

  .submit-name {
    font-size: 13pt;
    text-align: center;
  }

  .form-row {
    padding-bottom: 7px;
    margin-left: 5px;
  }

  .formgroup-row {
    margin-left: 5px;
  }

  .form-row-name {
    margin-top: 10px;
    padding-bottom: 7px;
    margin-left: 5px;
  }

  .form-row-address {
    padding-bottom: 5px;
  }

  .button-search {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    font-size: 25px;
    padding: 23px 16px;
  }

  .download-link {
    margin-left: 10px;
  }

  .form-radio-group {
    margin-bottom: 40px;
  }

  input[type=radio] {
    margin: 6px;
  }

  .form-row-special {
    margin-bottom: 20px;
  }

  //placeholder
  select option[disabled]:first-child {
    display: none;
  }

  .back-forward-buttons {
    width: 400px;
  }

  .next-btn {
    float: right;
  }

  .disabledButton-nxt, .disabledButton-nxt:hover, .disabledButton-nxt:focus {
    background-color: rgb(149, 209, 149);
    float: right;
    color: white;
  }

  .disabledButton-submit, .disabledButton-submit:hover, .disabledButton-submit:focus {
    background-color: rgb(120, 166, 205);
    float: right;
    color: white;
  }

  /*
  .back-btn, .back-btn:hover, .back-btn:focus{
    background-color: rgb(136,204,136);
    float: left;
    color: white;
  }
  */
  hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #AAA;
    margin: 1em 0;
    padding: 0;
  }
/**
.back-forward-buttons {
  width: 200px;
  margin-left: 15px;
}
*/
