html {
  margin: 40px;
  font-family: Arial, "TrebuchetMS", Verdana, sans-serif;
  font-size: 11pt;
}

.form {
  display: block;
}

.form-row {
  display: block;
  margin: 0;
  padding: 0;
}

.form-row-label {
  display: block;
  margin-right: 20px;
}

h3 {
  margin-top: 35px;
}

.typeahead{
    position: absolute;
    z-index: 1; // or more
    width: 200px; // or 300px, etc
}
