html {
   margin: 0;
   padding: 0;
}

body {
  margin: 0;
  padding: 0;
}



.footer-text{
  font-size: 10px;
  text-align: center;
}

label {
  margin-top: 5px;
}

h1 {
  font-size: 22px;
}

.form-header {
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.application-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
  h1 {
    font-size: 36px;
  }

  .application-wrapper {
    margin-top: 40px;

  }

  .form-header {
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .footer-text{
    font-size: 12px;
  }

}

.info-label {
  padding-left: 15px;
  font-size: 9pt;
  float: right;
}

.dependent-wrapper { /* Wraps all the dependent-forms in AddDependent */
  width:700px;
  background: #FFF;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Start DependentForm style */
.close-button { /* X button to delete a dependent */
  float: right;
  margin-top: -5px;
  margin-right: 2px;
  font-size: 10pt;
  font-weight: bold;
  padding: 0px 4px;
}

.add-button {
  margin-left: 15px;
}

.form-style-10 .inner-wrap{
  padding: 30px;
  background: #F8F8F8;
  border-radius: 6px;
  margin-bottom: 5px;
}

.depedent-form-wrapper {
  background-color: blueviolet;
  border: 1px solid pink;
  border-radius: 4px;
  padding: 7px;
}

.addDepButton {
  margin-top:15px;
  margin-bottom:15px;
}

/* End DependentForm style */
.form-center {
  text-align: center;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 0;
}

.from-col-address {
  padding-left: 15px;
}

.submit-name {
  font-size: 13pt;
  text-align: center;
}

.form-row {
  padding-bottom: 7px;
  margin-left: 5px;
  backround-color: yellow;
}

.formgroup-row {
  margin-left: 5px;
}

.form-row-name {
  margin-top: 10px;
  padding-bottom: 7px;
  margin-left: 5px;
}

.form-row-address {
  padding-bottom: 5px;
}

.button-search {
  margin-bottom: 15px;
  margin-left: 15px;
}

.download-link {
  margin-left: 10px;
}

.form-radio-group {
  margin-bottom: 40px;
}

.special-needs-textarea {
  margin-left: 15px;
}

input[type=radio] {
  margin: 6px;
}
.form-row-special {
  margin-bottom: 20px;
}

select option[disabled]:first-child {
  display: none;
}

 .back-forward-buttons {
    width: 400px;
  }

.back-btn {
  margin-left: 15px;
}

.next-btn {
  float: right;
}

.disabledButton-nxt, .disabledButton-nxt:hover, .disabledButton-nxt:focus{
  background-color: rgb(149, 209, 149);
  float: right;
  color: white;
}

.disabledButton-submit, .disabledButton-submit:hover, .disabledButton-submit:focus{
  background-color: rgb(120, 166, 205);
  float: right;
  color: white;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #AAA;
  margin: 1em 0;
  padding: 0;
}

  /*

  .form-container {
    height: 450px;
    width: 200px;
  }

  .back-forward-buttons {
    width: 200px;
    margin-left: 15px;
  }
  */

